{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'posts/ksm.css' %}">
  
  <title>Kisumu-County Kenya</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
    
    <a href="/"  data-toggle="tooltip" title="A prosperous and dynamic county that is a harbor of excellence

    +254 773 456 711
    Email: info@kisumu.go.ke
    
    Kisumu County
    P.O. Box 2738 - 40100, KISUMU
    
    " data-placement="bottom" class="navbar-brand"><img src="{% static 'posts/images/logo.png' %}" style="width:250px;" ></a>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
    <li class="nav-item" >
    <a class="nav-link text-light font-weight-bold px-3" href="/">HOME</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-light font-weight-bold px-3" href="/posts/tenders">TENDERS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light font-weight-bold px-3" href="{%url 'register'%}" id = nav>SERVICES</a>
        </li>
    <li class="nav-item">
      <a class="nav-link text-light font-weight-bold px-3" href="/posts/ministries">MINISTRIES</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light font-weight-bold px-3" data-toggle="dropdown" href="#">NEWS & EVENTS</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/posts/projects">PROJECTS</a>
          <a class="dropdown-item" href="/posts/news">NEWS & EVENTS</a>
        </div>
      </li>
    <li class="nav-item" >
    <a class="nav-link text-light font-weight-bold px-3" href="/posts/contact">CONTACT US</a>
    </li>
    <li class="nav-item" >
    <a class="nav-link text-light font-weight-bold px-3" href="/admin">STAFF</a>
    </li>    
    </ul>
    <form class="form-inline ml-3">
    <div class="input-group">
    <input type="text" class="form-control "  placeholder="Search posts"/>                
    <button type="submit" value="Search"><i class="fa fa-search"></i></button>  
    </div>
    </form>
    </div>
    </nav>


  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class ="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    <br>

    
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <div class = "container" style=background:black;>

    <!-- Footer -->
<footer class="page-footer font-small indigo" style=color:white; >

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column 
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
       Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/posts/tenders" style="text-decoration: none;">services</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/posts/news" style="text-decoration: none;">news & events</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/posts/ministries" style="text-decoration: none;">Ministries</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/posts/contact" style="text-decoration: none;">Contact us</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Kisumu is a Kenyan port city on Lake Victoria.
          It’s known for lakeside viewpoints at Dunga Hill Camp and Hippo Point.
          The Kisumu Impala Sanctuary shelters herds of impalas and zebras. 
          Its animal orphanage is home to wildlife like cheetahs and baboons.
          The city’s Kisumu Museum displays artifacts related to the people of the Nyanza Province. 
          Southwest, Ruma National Park has tall cliffs, roan antelope and birdlife.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019<a Copyright:></a>
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div>
  <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
  </script>




</body>
</html>