{% extends 'posts/layout.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">




{% block content %}


<div class = "container">
  <h4 style="color: #00BFF3; text-align: left; margin-top: 100px; padding: 30px; background-color: black;"> Posts</h4>
</div>

<div class ="grid-container" style = "margin-top:70px;margin-bottom: 50px;">
  {% for post in posts %}

<div class="card bg-info">
<div class= "bg-img">
      <img src="{{ post.images.url }}" alt="{{ post.title }}"width="355" height="200">
  <div class="content">
    
    <p style="color: white;">{{post.author}}</p>
    <p style="color: white;">{{post.created_at}}</p>
    <br>

    <a href="/posts/details/{{post.id}}" class="btn btn-primary" role="button">Readmore</a> </div>

</div>
</div>

  {%endfor%}


  




{% endblock%}