{% extends 'posts/layout.html'%}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 100px; padding: 35px;">
        <p>
            <pre>
            
                <b>OBJECTIVES AND AIMS</b>
               
                    1. To empower the community through IGA'S
                    2. To provide and recieve training and financial assistance from other 
                       organizations with similar ideas and to etablish a network.
                    3. To provide support to most basic needs of the under privileged members
                       of the community through establishment of special projects e.g  health,
                       Education facilities, resources centers, food banks among others.   
                
    
                </pre>
    
    
            
        </p>
    
    
    
    </div>
    


{% endblock %}