{% extends 'posts/layout.html' %}



{% block content %}
<section id="service">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="section_title text-center">
         <h2>Our Services</h2>
          <div class="brand_border">
           <i class="fa fa-minus" aria-hidden="true"></i> 
           <i class="fas fa-handshake"></i>
           <i class="fa fa-minus" aria-hidden="true"></i>
          </div>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
           . <br>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
       </div>
      </div>
    </div>
   <div class="row">
     <!--START SINGLE SERVICE AREA-->
    <div class="col-md-6 col-lg-4 col-sm-12">
        <div class="single_service hvr-curl-top-right">
         <div class="single_service-left">
          <div class="icon">
            <i class="far fa-address-card"></i>
          </div>
         </div>
         <div class="single_service-body">
           <h4 class="single_service-heading">TRADE LICENSE</h4>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscin elit. Aenean commodo ligula.</p>
         </div>
        </div>
       </div><!--/END SINGLE SERVICE AREA-->
    <!--START SINGLE SERVICE AREA-->
    <div class="col-md-6 col-lg-4 col-sm-12">
     <div class="single_service hvr-curl-top-right">
      <div class="single_service-left">
       <div class="icon">
         <i class="fas fa-ambulance"></i>
       </div>
      </div>
      <div class="single_service-body">
        <h4 class="single_service-heading">PUBLIC HEALTH LICENSE</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscin elit. Aenean commodo ligula.</p>
      </div>
     </div>
    </div><!--/END SINGLE SERVICE AREA-->
    <!--START SINGLE SERVICE AREA-->
    <div class="col-md-6 col-lg-4 col-sm-12">
     <div class="single_service hvr-curl-top-right">
      <div class="single_service-left">
       <div class="icon">
         <i class="fas fa-beer"></i>
       </div>
      </div>
      <div class="single_service-body">
         <h4 class="single_service-heading">LIQOUR LICENSE</h4>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                            elit. Aenean commodo ligula.</p>
      </div>
     </div>
    </div><!--/END SINGLE SERVICE AREA-->
    <!--START SINGLE SERVICE AREA-->
    <div class="col-md-6 col-lg-4 col-sm-12">
     <div class="single_service hvr-curl-top-right">
      <div class="single_service-left">
        <div class="icon">
          <i class="fas fa-industry"></i>
        </div>
      </div>
     <div class="single_service-body">
        <h4 class="single_service-heading">CONSTRUCTION PERMIT</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing                                       elit. Aenean commodo ligula.</p>
      </div>
     </div>
    </div><!--/END SINGLE SERVICE AREA-->
   </div>
  </div>
 </section>
 {% endblock %}