{% extends 'posts/layout.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">


{% block content %}
<h1 div class ="text-muted" style = margin-top:100px;>{{title}}</h1>

<div class ="grid-container" style = margin-top:20px;>
  
  {% for advert in adverts %}

  

<div class="card">
  <div class="bg-img">
  <div class="content">
    <h4>{{advert.ad_title}}</h4>
    <p>{{advert.ad_body}}</p>
    <p>{{advert.ad_created_at}}</p>
    <br>
     <button>Readmore</button> </div>
</div>
</div>


  {%endfor%}


  <div class = "container">
    <ul class="pagination pagination-lg">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>

  {% endblock %}