{% extends 'posts/layout.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">


{% block content %}
<h1 div class ="text-muted" style = margin-top:100px;>{{title}}</h1>

<div class ="grid-container" style = margin-top:10px;>
  
  {% for advert in adverts %}

  

<div class="card">
  <div class="bg-img">
  <div class="content">
    <h4>{{adverts.ad_title}}</h4>
    <p>{{adverts.ad_body}}</p>
    <p>{{adverts.ad_created_at}}</p>
    <br>
     <button>Readmore</button> </div>
</div>
</div>


  {%endfor%}

  {% endblock %}