{% extends 'posts/layout.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">


{% block content %}
<h1 style =" margin-top:100px; color: rgb(240, 245, 247);">{{title}}</h1>

<div class ="grid-container" style = margin-top:20px;>
  
  {% for advert in adverts %}

  

<div class="card">
  <div class="bg-img">
  <div class="content">
    <h4 style="color:#00BFF3;">{{advert.ad_title}}</h4>
    <p>{{advert.ad_body}}</p>
    <p>{{advert.ad_created_at}}</p>
    <br>
     </div>
</div>
</div>


  {%endfor%}


  {% endblock %}